
body{
    background-image: url("/t_static/business/images/bg1.png");
    background-image: url("/t_static/business/images/bg2.png");
    background-image: url("/t_static/business/images/bg3.png");
    background-image: url("/t_static/business/images/bg4.png");
    background-image: url("/t_static/business/images/bg5.png");
    background-image: url("/t_static/business/images/bg6.png");
}